test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Company">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
                <xs:unique name="unique">
                  <xs:selector xpath="employee"/>
                  <xs:field xpath="id"/>
                </xs:unique>
              <xs:element type="xs:integer" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:integer" name="age"/>
      			  <xs:element type="xs:integer" name="salary"/>
      			  <xs:element type="xs:string" name="emailid"/>
      			  <xs:element type="xs:integer" name="phoneno"/>
      			  <xs:element type="xs:string" name="designation"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

<xs:simpleType name="emp_salary">
        <xs:restriction base="xs:decimal">
            <xs:maxInclusive value="200000"/>
            <xs:minInclusive value="50000"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>